<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../../static/imagen/abejas/logo.jpeg" type="image/x-icon">
  <link rel="stylesheet" href="../../static/css/home/home.css">
  <script src="https://kit.fontawesome.com/57d17138c5.js" crossorigin="anonymous"></script>
  <title>Empa-Bee</title>
</head>

<body>
  <div class="container">
    <header>
      <nav class="navbar1">
        <a href="">
          <div class="logo">

            <img src="../../static/imagen/abejas/logo.jpeg" alt="">
          </div>
        </a>
        <div class="search-bar">
          <input type="text" placeholder="Buscar...">
          <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="navbar1-links">
          <a href="index_pages.html">Ayuda</a>
          <a href="/Login/login.html">Mi cuenta</a>
          <a href="productos_pages.html">Carrito de compras</a>
        </div>
      </nav>

      <nav class="navbar2">
        <div class="navbar2_buttons">
          <div class="navbar2_buttons_links">
            <a href="/views/index_pages.html">Inicio</a>
          </div>
          <div class="navbar2_buttons_links">
            <a href="/views/productos_pages.html">Productos</a>
          </div>
          <div class="navbar2_buttons_links">
            <a href="/views/planes_pages.html">Sensores</a>
          </div>
          <!-- <div class="navbar2_buttons_links">
            <a href="/views/entretenimiento_pages.html">Entretenimiento</a>
          </div> -->
        </div>
      </nav>
    </header>

    <main>

      <!-- imagen de portada -->
      <div class="img_port">
        <div class="img_container">
          <img src="../../static/imagen/abejas/cardbee6.jpg" alt="">
          <div class="info">
            <h3>Información de la imagen 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="img_container">
          <img src="../../static/imagen/abejas/cardbee7.jpg" alt="">
          <div class="info">
            <h3>Información de la imagen 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>

      <!-- imagen de portada -->

      <!-- inicio contenedor de secciones -->
      <div class="textA">
        <h2>
          Que es y que hace un Apicultor?
        </h2>
        <p>
          Un apicultor (también conocido como colmenero) es una persona que cuida y mantiene a las abejas melíferas con
          el propósito de obtener de ellas los beneficios que pueden brindar, siendo el principal de estos la
          polinización, además de la clásica y ampliamente conocida, producción de la miel, la obtención de polen, cera,
          jalea real y veneno (apitoxina).
        </p>
      </div>
      <div class="imageA">
        <img src="../../static/imagen/abejas/apicultor1.jpg" alt="">
        <img src="../../static/imagen/abejas/apicultor2.jpg" alt="">

      </div>
      <!--  importante abejas en el humano  -->

      <div class="textBee">
        <h2>
          ¿Porqué son tan importantes las abejas en la vida del ser humano?
        </h2>
        <p>
          De las 100 especies de cultivos que abastecen el 90% de los alimentos del mundo, las abejas polinizan más del
          70% de ellos. Además, polinizan más de 25.000 especies de plantas con flores. Sin estos insectos la actividad
          agrícola prácticamente desaparecería, lo que dejaría a muchas familias sin una fuente de ingresos.
        </p>
      </div>
      <div class="imageBee">
        <img src="../../static/imagen/abejas/vida1.jpg" alt="">
        <img src="../../static/imagen/abejas/vidabee1.jpg" alt="">

      </div>

      <!--  end importante abejas en el humano  -->

      <div class="secc1">
        <div class="secc1_img">
          <img src="../../static/imagen/abejas/cardbee1.jpg" alt="">
          <img src="../../static/imagen/abejas/cardbee2.jpg" alt="">
          <img src="../../static/imagen/abejas/cardbee3.jpg" alt="">
          <img src="../../static/imagen/abejas/cardbee4.jpg" alt="">
          <img src="../../static/imagen/abejas/cardbee5.jpg" alt="">
        </div>

      </div>
      <div class="secc1_text">
        <div>
          <p>
            Conócenos
          </p>

        </div>
      </div>
      <!-- fin contenedor de seccion 1 -->
      <!-- inicio contenedor de seccion 2 -->
      <div class="secc2">
        <img src="../../static/imagen/abejas/portadabee.jpg" alt="">
        <!-- <video autoplay loop >
          <source src="/video/bee2.mp4" type="video/mp4">
        </video> -->

      </div>


    </main>
    <footer>
      <div class="main-container">
        <!-- Footer Top Start -->
        <div class="footer-top">
          <div class="col">
            <div class="head-title">
              <h2>Sobre nosotros</h2>
            </div>
            <div class="content">
              <p>Somos una compañía especializada en monitoreo de colmenas, llevando un reporte minuto a minuto de la
                vida de la Apis Melifera.</p>
              <ul>
                <li><a href="#"><i class="fa-solid fa-location"></i>Carrera 9 #25n-50 Popayán-Cauca</a></li>
                <li><a href="#"><i class="fa-solid fa-phone"></i>3135553535 - 0624454545</a></li>
                <li><a href="#"><i class="fa-solid fa-envelope"></i>info@empabee.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="head-title">
              <h2>Categorías</h2>
            </div>
            <div class="content">
              <ul>
                <li><a href="#">Miel</a></li>
                <li><a href="#">Monitoreo</a></li>
                <li><a href="#">Sensores</a></li>
                <li><a href="#">Abejas</a></li>
                <li><a href="#">Planes</a></li>
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="head-title">
              <h2>Información</h2>
            </div>
            <div class="content">
              <ul>
                <li><a href="#">Quienes somos</a></li>
                <li><a href="#">Contactanos</a></li>
                <li><a href="#">Politicas & privacidad</a></li>
                <li><a href="#">Ordenes & Devoluciones</a></li>
                <li><a href="#">Terminos & Condiciones</a></li>
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="head-title">
              <h2>Servicios</h2>
            </div>
            <div class="content">
              <ul>
                <li><a href="{% url 'login' %}">Mi cuenta</a></li>
                <li><a href="#">Ver carrito</a></li>
                <li><a href="#">Reporte de sensores</a></li>
                <li><a href="#">Seguimiento de mis colmenas</a></li>
                <li><a href="#">Ayuda</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Footer Top End -->

        <!-- Footer Bottom Start -->
        <div class="footer-bottom">
          <div class="payment-method">
            <ul>
              <li><a href="#"><i class="fa-brands fa-cc-visa"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-cc-mastercard"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-cc-paypal"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-cc-amex"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-cc-amazon-pay"></i></a></li>
            </ul>
          </div>
          <div class="copyright">
            <p>Copyright ©2023 All rights reserved | by <a href="#">Empa-Bee</a></p>
          </div>
        </div>
        <!-- Footer Bottom End -->
      </div>
    </footer>
  </div>
</body>

</html>