:root {
    --color-miel: #F2AC57;
    --blanco: #F2F2F2;
    --negro: #0D0D0D;
    --cafe: #592B02;
    --cafe-transparente: rgb(89, 43, 2,40%);
    --color-piel: #F2B988;
    --piel-transparente: rgb(242, 185, 136,30%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {

    height: 100vh;

    display: grid;
    grid-template-columns: repeat(12, 1fr);

    background-image: url(../../imagen/abejas/ProductosImages/mielLogin1.jpg), url(../../imagen/abejas/ProductosImages/mielLogin2.jpg);
    background-position: top left, bottom right;
    background-repeat: no-repeat,no-repeat;
    background-size: 50% 100%,50% 100%;
}

main{
    grid-column-start: 7;
    grid-column-end: -1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box{

    padding: 30px;

    min-width: 600px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;

    backdrop-filter: blur(6px);
    border-radius: 20px;
    background-color: var(--cafe-transparente);

}

.login-title{

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 10px;

}

.login-title img{
    width: 250px;
    height: 200px;
}

.login-title h1{
    align-self: flex-start;

    font-size: 3rem;
    color: var(--color-miel);
}

.login-box form{

    padding: 10px;

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 10px;

}

.login-box form>fieldset{

    padding: 5px;

    width: 100%;

    display: grid;
    grid-template-rows: repeat(2,1fr);
    row-gap: 5px;

    border: none;

}

.login-box form>fieldset label{

    font-size: 2rem;
    color: var(--color-miel);

}

.login-box form>fieldset input{

    padding: 10px;

    font-size: 1.5rem;
    color: var(--cafe);
    letter-spacing: 0.2rem;
    
    background-color: var(--piel-transparente);
    border-radius: 15px;
    border: 0.2rem solid var(--color-miel);
    border-top: none;

}

.login-box form>fieldset input::placeholder{

    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    color: var(--cafe);

}

.form-buttons{

    width: 75%;

    display: flex;
    justify-content: center;
    column-gap: 10px;

}

.form-buttons input{
    padding: 5px;

    min-width: 150px;

    font-size: 2rem;

    border-radius: 50px;
    border: none;
}

.form-buttons input[type="submit"]{

    color: var(--cafe);

    background-color: var(--color-miel);

}

.form-buttons input[type="reset"]{
    color: var(--color-piel);

    background-color: var(--cafe);
}

.form-links{
    width: 50%;

    display: flex;
    justify-content: center;
    column-gap: 5px;
}

.form-links a{
    font-size: 1.5rem;
    color: var(--cafe);
    text-decoration: none;

    cursor: pointer;
}